
header {
   background-color: rgba(255, 230, 196, 0.61);
   height: 100vh;
   padding-left: 150px;
   padding-right: 150px;
   width: 100vw;
}


.main-header {
    font-size: 500%;
    width: 79%;
}

.support-text {
    width: 70%;
}

/* User Photos*/
.item-1 {
    position: relative;
    right: 25px;
}
.item-2 {
    position: relative;
    right: 55px;
}
.item-3 {
    position: relative;
    right: 80px;
}

.item-4 {
    position: relative;
    right: 113px;
}

.item-5 {
    position: relative;
    right: 140px;
}
.item-6 {
    position: relative;
    right: 169px;
}

.item-7 {
 position: relative;
 right: 196px;
}
/**/

.profile-photo img {
    height: 600px;
    width: 400px;
    border-radius: 20px;
}

.header-content, .navbar {
    width: 100%;
}


.links {
    display: grid;
    justify-content: end;
}

.profile-photo {
    display: grid;
    justify-content: center;
}

.links {
    display: grid;
    justify-content: center;
}
.em-number {
    color:teal;
    font-weight: bold;
}

.features {
    height: 100vh;
    padding: 150px;
}

.section-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}
