
header {
   background-color: rgba(255, 230, 196, 0.61);
   height: 100vh;
   padding-left: 150px;
   padding-right: 150px;
   width: 100vw;
}


.main-header {
    font-size: 500%;
    width: 79%;
}

.support-text {
    width: 70%;
}

.profile-photo img {
    height: 600px;
    width: 400px;
    border-radius: 20px;
}

.header-content, .navbar {
    width: 100%;
}


.links {
    display: grid;
    justify-content: end;
}

.profile-photo {
    display: grid;
    justify-content: center;
}

.links {
    display: grid;
    justify-content: center;
}
