header {
   background-color: rgba(255, 230, 196, 0.61);
   height: 100vh;
   padding-left: 100px;
   padding-right: 100px;
   width: 100vw;
}


.main-header {
    font-size: 400%;
}

.profile-photo img {
    height: 700px;
    width: 500px;
    border-radius: 20px;
}

<<<<<<< HEAD
.header-content, .col {
    max-width: 3000px;
    width: 100%;
    border: 2px solid red;
    
=======
.header-content, .navbar {
    width: 100%;
>>>>>>> cdefdd845922f8b1728b1c7f5b48f3a78560d4e3
}


.links {
    display: grid;
    justify-content: end;
}

<<<<<<< HEAD
=======
.profile-photo {
    display: grid;
    justify-content: center;
}

.links {
    display: grid;
    justify-content: center;
}
>>>>>>> cdefdd845922f8b1728b1c7f5b48f3a78560d4e3
